table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

th:hover {
  background-color: #f0f0f0;
}

th,
td {
  border: 1px solid black;
  padding: 3px;
}
